{% extends "base.html" %}

{% block title %}
Password
{% endblock title %}

{% block main %}

<div class="container bg-dark">
    <div class="text">
        Password Generator
    </div>
    <div class="input-data">
        <div id="show" class="display">
            <!-- <input type="text"> -->
            <!-- <span class="far fa-copy" onclick="copy()"></span>
            <span class="fas fa-copy" onclick="copy()"></span> -->
        </div>
        <button id="genPass">Generate Password</button>
        <button id="copy">Copy to clipboard</button>
    </div>
</div>
<!-- <script>

    document.getElementById("copy")
        .onclick = function () {
            let text = document.getElementById("show").value;
            navigator.clipboard.writeText(text)
                .then(() => {
                    alert('Text copied to clipboard');
                })
                .catch(err => {
                    alert('Error in copying text: ', err);
                });
        }
</script> -->

{% endblock main %}