{% extends "base.html" %}

{% block title %}
Password
{% endblock title %}

{% block main %}

<div class="container bg-dark">
    <div class="text">
        Password Generator
    </div>
    <div class="input-data">
        <div id="show" class="display">
            <input type="text">
            <span class="far fa-copy" onclick="copy()"></span>
            <span class="fas fa-copy" onclick="copy()"></span>
        </div>
        <button id="generate">Generate Password</button>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#generate').click(function () {
            $.getJSON('/get_pass', function (dat) {
                $('#show').text(dat);
            });
        });
    });
</script>
<script>

    const display = document.querySelector("input"),
        copyBtn = document.querySelector("span.far"),
        copyActive = document.querySelector("span.fas");
    function copy() {
        copyBtn.style.display = "none";
        copyActive.style.display = "block";
        display.select();
        document.execCommand("copy");
    }

</script>

{% endblock main %}